---
interface Props {
	title?: string;
}

const { title } = Astro.props;

const htmlTitle = title ? `${title} | Hong Kong Open Source Conference 2024` : 'Hong Kong Open Source Conference 2024';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
		<meta name="description" content="Hong Kong Open Source Conference is the biggest annual open source event in Hong Kong" />
		<meta name="theme-color" media="(prefers-color-scheme: light)" content="##f3cb02" />
		<meta name="theme-color" media="(prefers-color-scheme: dark)" content="#294454" />
		<meta name="author" content="Team 404 Busters" />
		<meta property="og:title" content="Hong Kong Open Source Conference 2024" />
		<meta property="og:site_name" content="Hong Kong Open Source Conference 2024" />
		<meta property="og:type" content="website" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/x-icon" href="https://hkoscon.org/favicon.ico" />
		<link rel="icon" type="image/png" href="https://hkoscon.org/logo.png" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
		/>
		<link rel="manifest" href="/2024/manifest.json" />
		<title>{htmlTitle}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: 'Lato', 'Noto Sans TC', sans-serif;
		background: #13151a;
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
